---
import Container from '@/components/Container.astro';
---
<nav>
  <Container class="py-16">
    <p class="mb-2">
      <a class="text-4xl font-bold text-slate-900 dark:text-white hover:text-slate-900 dark:hover:text-gray-100 drop-shadow-[0_2px_0px_rgba(255,255,255,1)] dark:drop-shadow-[0_2px_0px_rgba(0,0,0,1)]">
        Blog
      </a>
    </p>
  </Container>
</nav>